
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    background: #F4F4F4;

}

.main{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff; 
}
.header{
    background: url(../images/suran.jpg);
    background-size: cover;
    height: 450px;
    text-align: center;
}

.site-header{
    background-image: url(../images/markus-spiske-303121.jpg );
    background-size: cover;
    height: 450px;
    text-align: center;
    color: black;
 
}

.site-header nav , .header nav{
    text-align: right;
    background:#3b7687;
}

.site-header nav a, .header a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color:#c5d6db;
    padding: 15px;
}

.site-header nav a:hover{
    color:#69fdf4;
}

.site-header h1 {
    margin-top: 10px;
    font-size: 56px;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
}

.place p{
    display: bold;
    font-size: 20px;
    padding: 10px;
    background: #099CC5;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.place li{
    display: block;
    list-style: none;
    padding: 10px;
   background: #dde7e3;
   margin-top: 0px;
  margin-bottom: 0px;

}
article{
    background: #dde7e3;
  
}

article .study{
margin-top: 0px;
 text-decoration: underline;

}

.study p{



}
/******************contact*****************/


.contact #form {
    width: 500px;
    border: 2px solid black;
    padding: 10px ;
    margin: 0 auto;
}

 .contact .page-header{
    align: center;
    margin-bottom: 20px;
    color:#006400;
    font-size: 20px;
    float: center;
}

.contact #form input{
    width: 100%;
    height: 20px;
    background: #d6d6d6;
    border-radius: 10px;

}

.contact #form #message{
    width: 100%;
    border-radius: 10px;
    background: #d6d6d6;
}


.contact #form #submit {
    height: 30px;
    background: #3b7687;

   font-size: 20px;
}



/****************************Gallary******************/

.gallary{
    margin: 0 auto;
    width: 960px;
   

}

.gallary h2{
    color:#69fdf4;
    display: bold;
    align: center;
}

thumbnail{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
.thumbnail img{
    width: 100%;
    height: auto;
}

 .thumbnail li{
   list-style: none;
    display: inline-block;
    float:left;
    margin: 10px;
    padding: 0 auto;
    border: 2px solid #000;
  

}

.thumbnail li a{
    list-style: none;
    display: inline-block;

}
 
.thumbnail li:hover img{
    border: 2px solid #777;
    margin: 0 auto;
    display:block; 
}


/******************skill***********************/


.content{
 background:#f5f5c4;
}
.content .header1 h1, h2, h3{
background: #008b8b;
padding: 15px;
margin-top: 0;
margin-bottom: 0px;
text-decoration: underline;
}

.content a{
    text-decoration: none;
    font-size: 20px;
    color: #008b8b;
}

.button{
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
#btnShow{
    background-color:#008CBA;
    color: #fff;
    padding: 15px;
}

#btnHide{
    background-color:#006400;
    color: #fff;
    padding: 15px;
}
#btnToggle{
    background-color:#8b4513;
    color: #fff;
    padding: 15px;
}
#btnToggle ,#btnHide, #btnShow{
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
}


/**************************Footer****************/
footer{
    padding:6px 40px 6px 40px;;
    background-attachment:  #008b8b;
    font-family: "Lucida Sans Unicode";
    font-size: 15px;
    text-decoration: right;
}
footer a {
    text-decoration: none;
    color: #008b8b;
}

.seperator{
    color: #fff;
    font-size: 11px;
}


/****************Aboutme***************/

.aboutme {
    border-bottom:1px solid #3a3a3a;
    border-top:1px solid #3a3a3a;
    text-align:center;
}
.aboutme img {
    border:3px solid #3a3a3a;
    border-radius:50%;
    padding:5px;

}